<!DOCTYPE html>
<html>
<head>
	<title>关于我们</title>
	<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!--fonts-->
		<link href='http://fonts.useso.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.useso.com/css?family=Lato:100,200,300,400,500,600,700,800,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>	
	<!--//fonts-->
		<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Click On Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<!-- js -->
		<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	<!-- js -->
	<!-- start-smooth-scrolling -->
		<script type="text/javascript" src="../static/js/move-top.js"></script>
		<script type="text/javascript" src="../static/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smooth-scrolling -->

</head>
<body>
<!-- banner -->
<div class="banner pg-head">
	<div class="container">
		<div class="logo head">
			<a href="home.html"><img src="../static/img/2.jpg" alt=""/></a>
		</div>
		<div class="navigation nv-hd">
				<span class="menu"><img src="../static/img/menu.png" alt=""/></span>
				<ul class="nav1 nl">
					<li><a class="active" href="about.html">关于我们</a></li>
                    <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                    <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
{#					<li><a href="services.html">登陆</a></li>#}
{#					<li><a href="register.html">注册</a></li>#}
					<li><a href="gallery.html">上传照片</a></li>
					<li><a href="gallery.html">我的相册</a></li>	
					<li><a href="contact.html">联系我们</a></li>
				</ul>
				<!-- script for menu -->
					<script> 
						$( "span.menu" ).click(function() {
						$( "ul.nav1" ).slideToggle( 300, function() {
						 // Animation complete.
						});
						});
					</script>
				<!-- //script for menu -->
			
		</div>
	</div>
</div>
<!-- //banner -->
<!-- about -->
<div class="about">
	<div class="container">
		<div class="about-info">
			<h2>关于我们</h2>
<p> </p>

		</div>
		<div class="about-grids">
			<div class="about-left">
				<img src="../static/img/team.jpg" alt=""/>
			</div>
			<div class="about-right">
				<h3>CNN Team</h3>
				<p>大家好，我们是CNN队！ </p>
				<p>在生活中，我们常常穿梭于多种多样的场景，用手中的相机记录自己的精彩生活。将相片根据场景分类存放，能够高效的管理相片，形成自己的场景素材库。于是，我们开发了一款相片分类器，让智能改变生活。 </p>
				
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //about -->
<!-- footer -->
<div class="footer">
	<div class="container">
		<p>Copyright &copy; 2019 CNN Team <a href="#"> </a></p>
	</div>
</div>
<!-- //footer -->
</body>
</html>